<!doctype html>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

{% for station in it %}
    {% if it[station]['station_info'] %}
    <div id="IT_station" align="center" style="
                            {% for i in it[station]['station_info'] %}
                                {{ i }}:{{ it[station]['station_info'][i] }};
                            {% endfor %}">
        {{ station }}
        {% for side in it[station] %}
            {% if  it[station][side]['side_info'] %}
                <div id="IT_side" align="center" style="
                                {% for i in it[station][side]['side_info'] %}
                                    {{ i }}:{{ it[station][side]['side_info'][i] }};
                                {% endfor %}">
                {% for layer in it[station][side] %}
                    {% if  it[station][side][layer]['layer_info'] %}
                        <div id="IT_side" align="center" style="
                                        {% for i in it[station][side][layer]['layer_info'] %}
                                            {{ i }}:{{ it[station][side][layer]['layer_info'][i] }};
                                        {% endfor %}">
                        {% for sector in it[station][side][layer] %}
                            {% if  it[station][side][layer][sector]['div_info'] %}
                            <a href="/{{ it[station][side][layer][sector]['Name'] }}">
                                <div id='IT_bin' style="
                                    {% for i in it[station][side][layer][sector]['div_info'] %}
                                        {{ i }}:{{ it[station][side][layer][sector]['div_info'][i] }};
                                    {% endfor %}"
                                    >
                                    {{ sector }}
                                </div>
                            </a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
{% endfor %}